* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.coffee-page {
  font-family: sans-serif;
  color: #343a40;
  font-size: 2.4rem;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 8rem 40rem 1fr 25rem;
  grid-template-rows: 8rem 1fr;
}

nav {
  background-color: #343a40;
  color: #fff;

  grid-row: 1 / -1;
}

nav button {
  width: 8rem;
  height: 7.99rem;
}

menu {
  background-color: #e67d2280;

  grid-column: 2/-1;

  display: flex;
  align-items: center;
  padding: 0 4rem;
}

.coffee-container1 {
  background-color: #fdf2e9;
  padding: 4rem;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.coffee-item {
  background-color: #fff;
  border: 5px solid #e67d2280;
  border-radius: 5px;
  height: 30rem;
  flex-shrink: 0;
  margin: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #e67e22;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0.8rem 1.2rem;
}

button:last-child {
  margin-left: auto;
}

aside {
  background-color: #fdf2e9;
}

.info {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.info button {
  background-color: #e67e22;
}

.coffee-container1::-webkit-scrollbar {
  width: 0.8em;
  height: 1em;
}

.coffee-container1::-webkit-scrollbar-track {
  background: #f5e3d2;
  border-radius: 100vw;
  margin-block: 0.5em;
}

.coffee-container1::-webkit-scrollbar-thumb {
  background: #f6b27b;
  border: 0.25em solid #f5e3d2;
  border-radius: 100vw;
}

.coffee-container1::-webkit-scrollbar-thumb:hover {
  background: #d9823a;
}

/* ///////Selected Coffee/////// */
.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  line-height: 4rem;
  gap: 2rem;
}

.selected-coffee-display {
  border: 1px solid #ccc;
  padding: 2.4rem;
  margin-top: 2.4rem;
}

.selected-coffee-display img {
  width: 25rem;
  height: 25rem;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.selected-coffee-display .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-coffee-display .img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.selected-coffee-display p {
  font-size: 1.6em;
}

.total-value-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.total-value-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-value-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.selected-description {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.selected-coffee-summary {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.selected-coffee-summary img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
